@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap');

:root {
  --main-color: #211f1c;
  --secondary-color: #808080;
  --light-grey-color: #e6e6e6;
  --accent-color: #89db70;
  --race-color: #ff6a00;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  font-family: 'Cairo', sans-serif;;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 3rem;
  margin: auto;
}

.btn {
  padding: 0.1rem 0.3rem;
  border: 1px solid var(--main-color);
  background-color: white;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s ease;
}

#race-btn {
  color: var(--race-color);
  border: 2px solid var(--race-color);
  background-color: transparent;
}

#race-btn:hover {
  background-color: var(--race-color);
  color: white;
}

#race-btn:disabled {
  background-color: transparent;
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}

#reset-btn {
  color: var(--race-color);
  border: 2px solid var(--race-color);
  background-color: transparent;
}

#reset-btn:hover {
  background-color: var(--race-color);
  color: white;
}

#reset-btn:disabled {
  background-color: transparent;
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}

.header {
  padding: 0.5rem 1.5rem;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.8rem;
}

.main {
  padding: 0 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.section__cars_constructor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.1rem;
}

.cars_constructor {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.track-controllers {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 1.5rem;
}

.section__garage-headers {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.page-header {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.3rem;
}

.pages-header {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.2rem;
  margin-bottom: 0.5rem;
}

.cars-track {
  background-color: black;
  padding: 1rem;
}

.car_wrapper {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.car {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.1rem;
  border-bottom: 3px dashed white;
  margin-bottom: 0.6rem;
}

.car-controllers {
  padding: 0.4rem 0 0.6rem;
  display: flex;
  gap: 0.8rem;
}

.car-name {
  font-size: 1.2rem;
  line-height: 1rem;
  color: white;
}

.car-img {
  width: 4.5rem;
  margin: 0.7rem 0 0 1rem;
}

.car-input_text {
  height: 1.6rem;
}

.car-flag {
  margin-left: auto;
  margin-right: 10rem;
  padding-top: 10px;
  width: 15px;
}

.start-race {
  color: #57cf57;
  border-color: #57cf57;
  background-color: transparent;
}

.start-race:hover {
  background-color: #57cf57;
  color: var(--light-grey-color);
}

.stop-race {
  color: #cf5757;
  border-color: #cf5757;
  background-color: transparent;
}

.stop-race:hover {
  background-color: #cf5757;
  color: var(--light-grey-color);
}


.start-race:disabled, .stop-race:disabled {
  background-color: transparent;
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.pagination-section {
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
}

.win__table {
  width: 650px;
}

.row, .header-row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.num {
  width: 60px;
}

.color {
  width: 120px;
}

.name, .wins, .time {
  width: 150px;
}

.popUp {
  width: 350px;
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.808);
  box-shadow: 0px 5px 10px red, 0px -5px 10px red;
  position: absolute;
  top: 50%;
  left: calc(50% - 175px);
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.unsorted:hover, .asc-sorted:hover, .desc-sorted:hover {
  cursor: pointer;
}